.top-area{
	color: white;
	padding-bottom: 10px;
    padding-top: 10px;
    transition: all 0.4s ease-in-out 0s;
    width: 100%;
    background: #3fbbc0 none repeat scroll 0 0;
}


@media (max-width: 767px) {
	#wrapper.boxed {
		width: 100%;
	}
}
@media (min-width: 768px) {
	#wrapper.boxed {
		width: 810px;
	}
}
@media (min-width: 992px) {
	#wrapper.boxed {
		width: 1030px;
	}
}
@media (min-width: 1200px) {
	#wrapper.boxed {
		width: 1230px;
	}
}